@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&family=Ubuntu+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(18, 27, 34);
}

::-webkit-scrollbar {
  width: 0px;
  height: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #121b22;
}

::-webkit-scrollbar-thumb {
  background: #f44d5a;
  border-radius: 100vh;
  border: 3px solid #121b22;
}

::-webkit-scrollbar-thumb:hover {
  background: #121b22;
}

.glass {
  box-shadow: 0 10px 30px -10 rgba(30, 24, 34, 0.7);
  background-color: rgba(18, 27, 34, 0.8);
  backdrop-filter: blur(7px);
}

.image-container-main {
  display: inline-block;
  position: relative;
  line-height: 0;
  background: #ffffff;
  opacity: 1;
  transition: all 300ms;
}

.image-container-main:hover {
  opacity: 0;
}

.image-container-main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  background: #f1bf68;
  opacity: 1;
}

.image-container-main > img {
  -webkit-filter: brightness(100%) contrast(80%) grayscale(100%)
    hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  filter: brightness(100%) contrast(80%) grayscale(100%) hue-rotate(0deg)
    invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}
